<!DOCTYPE html>
<html lang="en" scoll=no>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title></title>
	<link rel="stylesheet" href="//at.alicdn.com/t/font_cs5vbx2k6oclq5mi.css">
	<link rel="stylesheet" href="../libs/css/main.css">
	<link rel="stylesheet" href="../libs/css/index4.css">
</head>

<body scoll=no>
	<div class="main bg4">
		<div class="earth ab"></div>
		<div class="earth_light ab"></div>
		<div class="text1 ab"></div>
		<div class="text2 ab"></div>
		<div class="text3 ab"></div>
		<div class="lichen ab"></div>
		<div class="lichen_text1 lichen_text ab"></div>
		<div class="lichen_text2 lichen_text ab"></div>
		<div class="lichen_text3 lichen_text ab"></div>
		<div class="lichen_text4 lichen_text ab"></div>
		<div class="btns ab">
			<span class="btn btn_01"></span><span class="btn btn_02"></span><span class="btn btn_03"></span>
		</div>

		<div class="tip tip1 ab"></div>
		<div class="tip tip2 ab"></div>
		<div class="tip tip3 ab"></div>
		<div class="tip tip4 ab"></div>
		<div class="tip tip5 ab"></div>
		<div class="tip tip6 ab"></div>

		<div class="modal_bg ab">
		</div>
		<div class="dialog dialog1 ab">
			<i class="close iconfont icon-x ab"></i>
			<span>活 动 详 情</span>
			<table>
				<tr>
					<td>活动时间:</td>
					<td>2017.5.29 10:00AM</td>
				</tr>
				<tr>
					<td>活动地址:</td>
					<td>上海顾村公园</td>
				</tr>
				<tr>
					<td>活动项目:</td>
					<td>5公里首发跑</td>
				</tr>
				<tr>
					<td>活动奖品:</td>
					<td>一等奖1名 SPORTS氨糖礼盒<br>二等奖5名 善存定制礼盒<br>三等奖10名 运动加油包</td>
				</tr>
				<tr>
					<td>活动说明:</td>
					<td>72小时不间断，全球接力挑战40076公里赤道跑，热血招募100名跑者，共同见证“72小时赤道接力跑”的5公里首发开跑！活动不收取任何费用，参与者均有机会获得由主办方提供的纪念品、运动大礼包等好礼</td>
				</tr>
			</table>
			<p>
				无法参与线下活动的跑友，可以在5.29-5.31期间，使用运动软件keep参与线上赤道接力跑活动，同样有机会获得惊喜好礼！
			</p>
		</div>
		<div class="dialog dialog1_border ab"></div>

		<div class="dialog dialog2 ab">
			<i class="close iconfont icon-x ab"></i>
			<span>报名表</span>
			<form action="">
				<div class="row">
					<span><i class="iconfont icon-xingbie"></i>性别</span>
					<label><input name='sex' type="radio" value="男"/>男</label>
					<label><input name='sex' type="radio" value="女"/>女</label>
				</div>
				<div class="row">
					<span><i class="iconfont icon-renshu"></i>姓名</span>
					<input name='name' type="input" />
				</div>
				<div class="row">
					<span><i class="iconfont icon-zhichirenshu"></i>报名人数</span>
					<select name="number">
						<option value="2">两人</option>
						<option value="3">三人</option>
					</select>
				</div>
				<div class="row">
					<input name="name2" type="text">
					<input name="name3" type="text">
				</div>
			</form>
			<div class="submit">提交</div>
		</div>

	</div>

	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<script src="../libs/main.js"></script>
	<script>
		$(function () {
			$('.btn_01').on('touchend', function () {
				$('.dialog1').show();
				$('.dialog1_border').show();
				$('.modal_bg').show();
			})
			$('.close').on('touchend', function () {
				$('.dialog1').hide();
				$('.dialog2').hide();
				$('.dialog3').hide();
				$('.dialog1_border').hide();
				$('.modal_bg').hide();
			})
			$('.btn_02').on('touchend', function () {
				$('.dialog2').show();
				$('.modal_bg').show();
			})
			$('.btn_03').on('touchend', function () {

			})
		})

	</script>
</body>

</html>
