<!DOCTYPE html>
<html lang="en" scoll=no>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title></title>
	<link rel="stylesheet" href="//at.alicdn.com/t/font_21kij0jw8a4te29.css">
	<link rel="stylesheet" href="../libs/css/main.css">
	<link rel="stylesheet" href="../libs/css/index4.css">
</head>

<body scoll=no>
	


	<script src="../libs/jquery.min.js"></script>
	<script src="../libs/main.js"></script>
	<script>
		$(function () {
			

			

		})

	</script>
</body>

</html>
